[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib
[submodule "lib/zig-flecs"]
	path = lib/zig-flecs
	url = https://github.com/foxnne/zig-flecs
[submodule "src/2d"]
	path = src/2d
	url = https://github.com/MadScientist2854/zig-raylib-flecs-2d
[submodule "src/2d-physics"]
	path = src/2d-physics
	url = https://github.com/MadScientist2854/2d-physics-zig-flecs
